<a href="#!/sale"><div class="col-lg-6 sale">
  <div class="clip-text clip-text_one">SALÉE</div>
</div></a>
<a href="#!/sucre"><div class="col-lg-6 sucre">
  <div class="clip-text clip-text_one">SUCRÉE</div>
  </div>
</a>
