<div class="col-lg-offset-2 col-lg-8">
<table>
  <thead>
    <th>Nom</th>
    <th>Prix</th>
  </thead>
  <tbody ng-repeat="cartList in toto">
    <td>{{cartList.nom}}</td>
    <td>{{cartList.prix}}</td>
  </tbody>
</table>
</div>
