<nav class="navbar navbar-default navsale">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand " href="#">Foodorama</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Accueil <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Viandes</a></li>
        <li><a href="#">Pizzas</a></li>

        <li><a href="#">Aperos</a></li>
        <li><a href="#">sandwich</a></li>

        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>

      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input class="form-control" placeholder="Rechercher..." type="text">
        </div>
        <button type="submit" class="btn btn-default">Rechercher</button>
      </form>
      <ul class="nav navbar-nav navbar-right">

        <li><a href="#">Panier</a></li>

        <li><a href="#!/panier">Panier</a></li>

        <li><a href="#!/sucre">Sucrée</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="col-lg-offset-1 col-lg-11" ng-controller="saleControl">
  <div class="row">
    <div class="col-lg-2 articlesale" ng-repeat="article in articles">
      <h3>{{article.nom}}</h3>
      <h4>{{article.prix}}</h4>
      <p>{{article.description}}</p>
      <button type="button" name="button">Ajouter au panier</button>
    </div>
  </div>
</div>
<footer >
  <div class="container">
    <hr>
    <div id="net"class="row">
      <span class="col-lg-2"><a href="#"><i class="fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></span>
      <span class="col-lg-2"><a href="#"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a></span>
      <span class="col-lg-2"><a href="#"><i class="fa fa-phone fa-2x" aria-hidden="true"></i> 00 00 00 00 00</a></span>
      <span class="col-lg-2"><a href="#"><i class="fa fa-paypal fa-2x" aria-hidden="true"></i></a></span>
      <span class="col-lg-2"><a href="#"><i class="fa fa-credit-card fa-2x" aria-hidden="true"></i></a></span>
      <span class="col-lg-2"><a href="#"><i class="fa fa-cc-visa fa-2x" aria-hidden="true"></i></a></span>
    </div>
  </div>
  <div class="container">
    <div  class="row">
      <!-- <div class="col-lg-12"></div> -->
      <hr/>
      <div id="liste" class="row">
        <p>
          <span class="col-lg-2 text-center"><a href="#" title="Publicité">Livraison</a></span>
          <span class="col-lg-2"><a href="#" title="Informations légales">Publicités</a></span>
          <span class="col-lg-2 text-center"><a href="#" title="Internet">Blog</a></span>
          <span class="col-lg-2 text-center"><a href="#" title="Signaler un contenu">Informations légales</a></span>
          <span class="col-lg-2 text-center"><a href="#" title="données personnelles">Données personnelles</a></span>
          <span class="col-lg-2 text-right"><a href="#"><i class="fa fa-map-marker fa-2x" aria-hidden="true"></i></a></span>
        </p>
      </div>
    </div>
  </footer>
