.sale{
  min-height: 890px;
  background-image: url('../img/salebg.jpg');
  background-position: center;
  position: relative;
}

.panier{
  display: inline;
}


.sucre{
  min-height: 890px;
  background-image: url('../img/sucrebg.jpg');
  background-position: center;
  position: relative;
}

.clip-text_one {
  background-image: url(https://images.pexels.com/photos/14676/pexels-photo-14676.png?w=1260&h=750&auto=compress&cs=tinysrgb);

}

/* Clip text element */
.clip-text {
  font-size: 6em;
  font-weight: bold;
  line-height: 1;
  position: relative;
  top: 300px;
  left: 240px;
  display: inline-block;
  margin: 0.25em;
  padding: 0.5em 0.75em;
  text-align: center;
  border: solid 10px rgb(27, 33, 62);
  /* Color fallback */
  color: #fff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.clip-text:before, .clip-text:after {
  position: absolute;
  content: '';
}


/* Use Background-size cover for photo background and no-repeat background */
.clip-text--cover, .clip-text--cover:before {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: 50% 50%;
}

.navsucre{
  background-color: #618685;
  border: solid 1px #83bb7a;
}

.navsale{
  background-color: #7e4a35;
  border: solid 1px #b9936c;

}

.active{
  background-color: red;
}

.article{
    background-color: #80ced6;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 10px;

}

.articlesale{
    background-color: #b9936c;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 10px;

}

.article h4{
  color: white;
  font-weight: bolder;
}

.button {
  background-color: white;
   border: 2px solid black;
   color: black;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   transition: 0.5s;
}

.button:hover{
  background-color: #3c853f;
}

th{
  width: 500px;
  background-color: red;
  text-align: center;
  color: white;
  font-size: 20px;
  font-weight: bold;
  font-family: monospace;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

td{
  background-color: rgb(196, 196, 196);
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
